[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-python = "*"
pymysql = "*"
pytz = "*"
sqlalchemy = "*"
pymongo = "*"
redis = "*"
requests = "*"
scrapy = "*"

[dev-packages]

[requires]
python_version = "3.6"
